
@{
    ViewData["Title"] = "Blog";
}



<main>
    <div class="container">
        <section class="news">
            <h2>Tin tức du lịch</h2>
            <div class="news-list">
                <div class="news-item">
                    <button class="news-button" onclick="window.location.href='./tin-tuc/thien-duong-san-may.html'">
                        <img src="~/style/img/image3.jpg" alt="Đà Lạt thiên đường săn mây">
                        <h3>Thiên đường săn mây</h3>
                        <p>Tóm tắt nội dung tin tức 1</p>
                    </button>
                </div>
                <div class="news-item">
                    <button class="news-button" onclick="window.location.href='./tin-tuc/nha-trang-thanh-pho-bien.html'">
                        <img src="~/style/img/imagae2.jpg" alt="Nha Trang thành phố biển">
                        <h3>Nha Trang thành phố biển</h3>
                        <p>Tóm tắt nội dung tin tức 2</p>
                    </button>
                </div>
                <div class="news-item">
                    <button class="news-button" onclick="window.location.href='./tin-tuc/di-dau-30-4-1-5.html'">
                        <img src="~/style/img/image1.jpg" alt="Đi đâu 30/4 - 1/5?">
                        <h3>Đi đâu 30/4 - 1/5?</h3>
                        <p>Tóm tắt nội dung tin tức 3</p>
                    </button>
                </div>
                <!-- Thêm các tin tức khác -->
            </div>
        </section>

        <section class="features">
            <h2>Các đặc sắc du lịch</h2>
            <div class="features-list">
                <div class="feature-item">
                    <button class="feature-button" onclick="window.location.href='./dac-sac/sapa-canh-sac-nui-rung-tuyet-dep.html'">
                        <img src="~/style/img/image4.jpg" alt="Sapa - Cảnh sắc núi rừng tuyệt đẹp">
                        <h3>Sapa - Cảnh sắc núi rừng tuyệt đẹp</h3>
                        <p>Tóm tắt nội dung đặc sắc 1</p>
                    </button>
                </div>
                <div class="feature-item">
                    <button class="feature-button" onclick="window.location.href='./dac-sac/da-nang-thanh-pho-dang-song-nhat-viet-nam.html'">
                        <img src="~/style/img/image5.jpg" alt="Đà Nẵng - Thành phố đáng sống nhất Việt Nam">
                        <h3>Đà Nẵng - Thành phố đáng sống nhất Việt Nam</h3>
                        <p>Tóm tắt nội dung đặc sắc 2</p>
                    </button>
                </div>
                <div class="feature-item">
                    <button class="feature-button" onclick="window.location.href='./dac-sac/phu-yen-dia-diem-du-lich-dang-phat-trien.html'">
                        <img src="~/style/img/image6.jpg" alt="Phú Yên - Địa điểm du lịch đang phát triển">
                        <h3>Phú Yên - Địa điểm du lịch đang phát triển</h3>
                        <p>Tóm tắt nội dung đặc sắc 3</p>
                    </button>
                </div>
                <!-- Thêm các đặc sắc khác -->
            </div>
        </section>
    </div>
</main>