@{
    ViewData["Title"] = "Trang chu";
}
<main>
<div class="text-center">
    <section class="banner">
        <img src="~/style/img/banner.jpg" alt="Banner">
    </section>
    <section class="noi-bat">
        <h2>Địa Điểm Nổi Bật</h2>
        <ul>
            <li>
                <a href="#">
                    <img src="~/style/img/image1.jpg" alt="Địa điểm 1">
                    <h3>Địa điểm 1</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/style/img/imagae2.jpg" alt="Địa điểm 2">
                    <h3>Địa điểm 2</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/style/img/image3.jpg" alt="Địa điểm 3">
                    <h3>Địa điểm 3</h3>
                </a>
            </li>
        </ul>
    </section>
    <section class="tim-kiem-nhanh">
        <h2>Tìm Kiếm Nhanh Tour</h2>
        <form action="#">
            <input type="text" placeholder="Nhập tên địa điểm">
            <select name="loai-tour">
                <option value="">Tất cả loại tour</option>
                <option value="du-lich-bien">Du lịch biển</option>
                <option value="du-lich-nuoc-ngoai">Du lịch nước ngoài</option>
                <option value="du-lich-tham-quan">Du lịch tham quan</option>
            </select>
            <button type="submit">Tìm Kiếm</button>
        </form>
    </section>
    <section class="tour-dac-biet">
        <h2>Tour Đặc Biệt</h2>
        <ul>
            <li>
                <a href="#">
                    <img src="~/style/img/image1.jpg" alt="Tour 1">
                    <h3>Tour 1</h3>
                    <p>Giá chỉ từ: 1.000.000đ</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/style/img/imagae2.jpg" alt="Tour 2">
                    <h3>Tour 2</h3>
                    <p>Giá chỉ từ: 2.000.000đ</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/style/img/image3.jpg" alt="Tour 3">
                    <h3>Tour 3</h3>
                    <p>Giá chỉ từ: 3.000.000đ</p>
                </a>
            </li>
        </ul>
    </section>
</div>
 </main>
