@{
    ViewData["Title"] = "Tim kiem";
}
<link rel="stylesheet" href="~/style/style3.css">
<section class="tim-kiem-nhanh">
    <h2>Tìm kiếm</h2>
    <form action="#">
        <input type="text" placeholder="Nhập tên địa điểm">
        <select name="loai-tour">
            <option value="">Tất cả loại tour</option>
            <option value="du-lich-bien">Du lịch biển</option>
            <option value="du-lich-nuoc-ngoai">Du lịch nước ngoài</option>
            <option value="du-lich-tham-quan">Du lịch tham quan</option>
        </select>
        <button type="submit">Tìm Kiếm</button>
    </form>
    <div class="filter-options">
        <span>sắp xếp theo:</span>
        <select name="sort">
            <option value="default">Mặc định</option>
            <option value="price-low-to-high">Giá: Thấp đến cao</option>
            <option value="price-high-to-low">Giá: Cao đến thấp</option>
        </select>
    </div>
</section>

