@model do_an_co_so.Models.Tour

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Thêm</h1>
<h4>Tour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenTour" class="control-label">Tên Tour</label>
                <input asp-for="TenTour" class="form-control" />
                <span asp-validation-for="TenTour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label">Mô tả</label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label">Anh Tour</label>
                <input type="file" asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TacGiaId" class="control-label">Tác Giả</label>
                <select asp-for="TacGiaId" class="form-control" asp-items="ViewBag.TacGias"></select>
            </div>
            <div class="form-group">
                <label asp-for="TheLoaiId" class="control-label">Thể Loại</label>
                <select asp-for="TheLoaiId" class="form-control" asp-items="ViewBag.TheLoais"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrangThaiId" class="control-label">Trạng Thái</label>
                <select asp-for="TrangThaiId" class="form-control" asp-items="ViewBag.TrangThais"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Trở về danh sách</a>
            </div>
        </form>
    </div>
</div>


