@model IEnumerable<do_an_co_so.Models.Tour>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách tour</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm tour mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên tour
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTour)
                </td>

                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.MaTour">Sửa</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MaTour">Chi tiết</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MaTour">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
